<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
</head>
<body style="background:transparent url('{% static 'goldflower.jpg' %}')">
  {% block content %}
  

      <nav class="navbar navbar navbar-light bg-light" style="background:transparent url('{% static 'purplecamo.jpg' %}')">
      <div class="container-fluid">
        <b><a class="navbar-brand" style="font-size:300%; color:gold;" href="/">Rex Rex</a></b>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background:gold;">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <b><a class="nav-link active" style="font-size:300%; color:gold;" aria-current="page" href="/projects/">Projects</a></b>
            </li>
            <li class="nav-item">
              <b><a class="nav-link" style="font-size:300%; color:gold;" aria-current="page"
                  href="/contact/">Contact</a></b>
            </li>
          </ul>
        </div>
      </div>
      </nav>
      <br>
      {% if success %}
      <div class="alert alert-success" role="alert">Successfully Added Inquiry</div>
      {% endif %}
      {% if error %}
      <div class="alert alert-danger" role="alert">{{error}}</div>
      {% endif %}
      <div class="jumbotron">
        <div class="container-fluid py-5">
          <center>
            <span class = "border border-warning">
              <div class="jumbotron" style="background-color:ghostwhite;">
              <h1 style="color:gold;">
                Rex Rex Operations LLC
              </h1>
              <h3 style="color:gold;">
              Rex Rex Operations LLC was founded in July of 2023 by J. Avery King who is the current Chief Executive Officer. This company specializes in website design and custom coding solutions. Please utilize the inquiry portion of our website for contacting the CEO directly and check out the current and upcoming projects. 
              </h3>
            </div>
            </span>
          </center>
        </div>
      </div>
      <div class="jumbotron">
        <div class="container-fluid py-5">
          <center>
          <img src="{% static 'profile.jpg' %}">
          </center>
        </div>
      </div>
      {% endblock %}
</body>